body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(204, 204, 204);
}

.header-title {
    color: rgb(254, 205, 35);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.container {

    background-color: rgb(46, 17, 51);
    width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-around;
    text-align: center;
}

.texto {
    padding: 0.6rem;
    color: white;
    margin-top: 1rem;

}

.flex-container {
    display: flex;

    justify-content: space-around;

}

.container2 {
    background-color: rgb(100, 31, 112);
    margin: 1rem;
}

.col1 {
    background-color: rgb(62, 95, 239);
    border: 0.6rem solid rgb(38, 55, 219);
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}

input:focus {
    outline: none;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    padding: 1.2rem;
}

input {
    width: 55%;
    height: 0.5rem;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0.6rem;
    border: none;
}

button {

    margin-top: 1.2rem;
    width: 50%;
    padding: 14px 32px;
    color: white;
    background-color: rgb(46, 17, 51);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    align-self: center;
}

button:hover {

    background-color: rgb(31, 6, 36);
}

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }


    .col1 {

        width: 90%;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
        align-self: center;


    }

    .container {
        width: 95%;
    }

    .texto {
        padding: 15px;
    }
input{
    width: 80%;
}
}